* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100wh;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  background-color: #63a4ff;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

h2 {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

button {
  padding: 5px 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

button:focus {
  outline: none;
}

button:hover {
  color: deepskyblue;
  -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.glass {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.wrapper {
  min-width: 300px;
  width: 80%;
  max-width: 1200px;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.covid-icon {
  width: 23px;
  -webkit-animation: rotation 10s linear infinite;
          animation: rotation 10s linear infinite;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.covid-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.covid-box .stats-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.covid-box .stats-box .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.covid-box .stats-box .label .country-icon,
.covid-box .stats-box .label .world-icon {
  margin-right: 5px;
  width: 20px;
}

.covid-box .stats-box .label .country-text,
.covid-box .stats-box .label .world-text {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 700;
  letter-spacing: 1.5px;
}

.covid-box .stats-box .stats-box-pl,
.covid-box .stats-box .stats-box-world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 25px;
}

.covid-box .stats-box .stats-box-pl p,
.covid-box .stats-box .stats-box-world p {
  font-size: clamp(0.6rem, 80%, 1vw);
  color: #444444;
}

.covid-box .stats-box .stats-box-pl h3,
.covid-box .stats-box .stats-box-world h3 {
  font-size: clamp(0.9rem, 100%, 1.1vw);
}

.covid-box .stats-box .stats-box-pl .statistics,
.covid-box .stats-box .stats-box-world .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.covid-box .stats-box .stats-box-pl .statistic,
.covid-box .stats-box .stats-box-world .statistic {
  margin: 10px 20px;
}

.covid-box .charts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.covid-box .charts-box .chart-box-pl,
.covid-box .charts-box .chart-box-world {
  padding: 25px;
}

.covid-box .charts-box .chart,
.covid-box .charts-box .chart-world {
  height: 350px;
}

.covid-box .charts-box .chart-inputs-pl,
.covid-box .charts-box .chart-inputs-world {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  text-align: center;
}

.covid-box .charts-box label {
  font-size: 12px;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.select-box label {
  font-size: 13px;
  margin-right: 8px;
}

.select-box select {
  border: 1px solid rgba(68, 68, 68, 0.2);
  border-radius: 10px;
  padding: 5px;
}

.wrapper::-webkit-scrollbar {
  width: 0.6em;
}

.wrapper::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.3em;
}

.wrapper::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100vw;
  -webkit-transition: background 0.3 linear;
  transition: background 0.3 linear;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    width: 90%;
    height: 90%;
  }
}
/*# sourceMappingURL=main.css.map */