* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100wh;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	background-color: #63a4ff;
	background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

h2 {
	font-size: 30px;
	color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

button {
	padding: 5px 15px;
	font-family: 'Quicksand', sans-serif;
	font-size: 11px;
	background-color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: color 0.3s, box-shadow 0.3s;
}

button:focus {
	outline: none;
}

button:hover {
	color: rgb(0, 191, 255);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.glass {
	border: 1px solid rgba(255, 255, 255, 0.3);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
}

.wrapper {
	min-width: 300px;
	width: 80%;
	max-width: 1200px;
	height: 85%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.covid-icon {
	width: 23px;
	animation: rotation 10s linear infinite;
}

.header {
	display: flex;
	justify-content: center;
}

.covid-box {
	display: flex;
	flex-direction: column;

	.stats-box {
		display: flex;
		justify-content: space-evenly;
		margin-top: 20px;

		.label {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;

			.location-icon {
				margin-right: 5px;
				width: 20px;
			}

			.location-text {
				font-size: 14px;
				text-transform: uppercase;
				color: rgb(255, 255, 255);
				border-bottom: 2px solid rgba(255, 255, 255, 0.5);
				font-weight: 700;
				letter-spacing: 1.5px;
			}
		}
		.stats-box-pl,
		.stats-box-world {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 0 25px;

			p {
				font-size: clamp(0.6rem, 80%, 1vw);
				color: rgb(68, 68, 68);
			}

			h3 {
				font-size: clamp(0.9rem, 100%, 1.1vw);
			}

			.statistics {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			.statistic {
				margin: 10px 20px;
			}
		}
	}

	.charts-box {
		display: flex;
		flex-direction: column;

		.chart-box-pl,
		.chart-box-world {
			padding: 25px;
		}

		.chart,
		.chart-world {
			height: 350px;
		}

		.chart-inputs-pl,
		.chart-inputs-world {
			display: flex;
			justify-content: space-evenly;
			margin-top: 20px;
			text-align: center;
		}
		label {
			font-size: 12px;
		}
	}
}

.wrapper::-webkit-scrollbar {
	width: 0.6em;
}

.wrapper::-webkit-scrollbar-track {
	background: transparent;
	margin-block: 0.3em;
}

.wrapper::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 100vw;
	transition: background 0.3 linear;
}

.wrapper::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.6);
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 750px) {
	.wrapper {
		width: 90%;
		height: 90%;
	}
}
